/*!-----------------------------------------------------------------
	Картинки
 -----------------------------------------------------------------*/
// figure
// 	margin 0
// img
// 	vertical-align middle
.b-img-fluid
	display block
	max-width 100%
	height auto
.b-img-circle
	border-radius 50%
.b-clearFix
	clearFix()
.b-img-left
	float left
	margin: 0 1em 1em 0
.b-img-right
	float: right
	margin: 0 0 1em 1em
/*!-----------------------------------------------------------------
	Обёртка если элемент не умещается на странице, например таблица
 -----------------------------------------------------------------*/
.b-wrap-fluid
	overflow-x: auto;
	min-height: 0.01%;
/*!-----------------------------------------------------------------
	Классы для текста
 -----------------------------------------------------------------*/
.b-text-left
	text-align left
.b-text-center
	text-align center
.b-text-right
	text-align right
.b-text-justify
	text-align justify
.b-text-bold
	font-weight bold
.b-text-upper
	text-transform uppercase
.b-text-lower
	text-transform lowercase
.b-text-hide
	font 0/0
	color transparent
	text-shadow none
	background-color transparent
	border 0

