extends layout.pug

block content
	h1.b-text-center Ошибка <span class="page-404">404</span>
	p.b-text-center Вы ищете страницу, которая не существует.
	p.b-text-center Перейти на <a href="/">главную страницу</a>.
