extends layout.pug

block title
	title SMACSS

block content
	p.b-text-center: img(src="img/book-covers.png", alt="Обложка книги по SMACSS")
	h1.b-text-center SMACSS — Scalable and Modular Architecture for CSS
	p.b-text-center <a href="http://smacss.com/"> smacss.com</a> — сайт разработчика методологии
