//- include _mixins.pug
include _modules.pug
include _variable.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
		// build:css
		link(rel="stylesheet", href="/css/main.css")
		// endbuild
		block title
			title Еда

		block top-script

	body
		header#l-header
			a(href="/" id="l-logo") Еда<span>.ру</span>
			.hamburger
			nav.nav
				a(href="#l-banner").nav__link Главная
				a(href="#l-about").nav__link О нас
				a(href="#l-menu").nav__link Меню
				a(href="#l-expert").nav__link Эксперты
				a(href="#l-testimonials").nav__link Рекомендации
				a(href="#l-content").nav__link Контакты
		// /header.l-header

		#l-content
			block content
		// /.l-content

		footer#l-footer
			p Copyright <a href="mailto:edaru@gmail.com">edaru@gmail.com</a>
		// /footer.l-footer

		block bottom-script
			// build:js
			script(src="js/script.js")
			// endbuild
