/*!-----------------------------------------------------------------
  .arrow - модуль стрелка
 -----------------------------------------------------------------*/
.arrow
	--size: 10px
	border-style: solid
	border-width: 0 calc(var(--size) / 5) calc(var(--size) / 5) 0
	border-color: inherit;
	width var(--size)
	height var(--size)
	display: inline-block
	position relative
	&.t-right
		transform: rotate(-45deg)
	&.t-left
		transform: rotate(135deg)
		margin-left: calc(var(--size) / 2)
	&.t-up
		transform: rotate(-135deg)
		margin-left: calc(var(--size) / 2)
		top calc(var(--size) / 3)
	&.t-down
		transform: rotate(45deg)
		margin-left: calc(var(--size) / 2)
		bottom calc(var(--size) / 3)
