/*!-----------------------------------------------------------------
  .btn - модуль кнопки
 -----------------------------------------------------------------*/
.btn
	cursor: pointer
	border-radius var(--borderRadius)
	text-decoration none
	display: inline-block
	font-weight: normal
	line-height: 1.25
	text-align: center
	white-space: nowrap
	user-select: none
	border: 1px solid transparent
	padding 8px 12px
	font-size: 1rem
	transition: all 0.2s ease-in-out
	color: var(--colorBlack)
	background-color var(--colorGray)

	&.t-disable
	&[disabled]
		opacity .65
		cursor default
	&:focus
		outline: 0
		box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25)
	&:focus, &:hover
		text-decoration: none
		color: var(--colorBlack)
	a&
		margin-right .25rem