/*!-----------------------------------------------------------------
  .callout - модуль выноска
 -----------------------------------------------------------------*/
.callout
	padding: 20px
	margin: 20px 0
	border: 1px solid #eee
	border-left-width: 5px
	border-radius: var(--borderRadius)

	h4
		margin-top: 0
		margin-bottom: .25em
	p:last-child
		margin-bottom: 0

	& + &
		margin-top: -5px

	&.t-warning
		border-color: var(--borderColor)
		h4
			color: var(--borderColor)
	&.t-danger
		border-color: var(--borderColor)
		h4
			color var(--borderColor)
	&.t-info
		border-color: var(--borderColor)
		h4
			color var(--borderColor)
	&.t-success
		border-color: var(--borderColor)
		h4
			color var(--borderColor)