/*!-----------------------------------------------------------------
  .hamburger - модуль показа меню на маленьких экранах
 -----------------------------------------------------------------*/
.hamburger
	font-size 1.7rem !important
	color #fff
	cursor pointer
	position fixed
	z-index 2
	&.fa
		display none
