/*!-----------------------------------------------------------------
	.iconsvg - модуль иконок svg
 -----------------------------------------------------------------*/
.iconsvg
	size 32px 32px
	&.t-small
		size 16px 16px
	&.t-large
		size 64px 64px
	& > svg
		width inherit
		height inherit
		display inline-block
		vertical-align: middle
		// fill currentColor
		fill inherit

