/*!-----------------------------------------------------------------
	Классы состояния
 -----------------------------------------------------------------*/
/*!
	Состояние элементов
*/
.is-disable
.is-focus
.is-active
	overflow visible
/*!
	Видимость элементов
*/
.is-toggle
.is-hide
.is-show
	overflow visible
/*!
	Расположение элементов
*/
.is-inline // в линию
.is-left // левo
.is-right // право
.is-up // сверхку
.is-down // снизу
.is-center // по центру
.is-sticky // приклеиное
	overflow visible
/*!
	Размер элементов
*/
.is-normal // нормальный размер
.is-small // маленький размер
.is-large // большой размер
	overflow visible
